<h2><%=l(:text_title_statement)%></h2>
<% @user_list.each{|user_id|
  books = Book.find(:all, :conditions => ['holder_id=?', user_id])
  devices = Device.find(:all, :conditions => ['holder_id=?', user_id])
  name = User.find(user_id).name
%>
<%=l(:text_statement_receiver,:name => name)%>:
<table class="list">
<tr>
    <th><%= '#' %></th>
    <th><%= l(:field_book_title) %>/<%=l(:field_device_name)%></th>
    <th><%= l(:field_book_author) %>/<%=l(:field_device_vendor)%></th>
    <th><%= l(:field_publisher) %>/<%=l(:field_device_model)%></th>
    <th><%= l(:field_published_on) %>/<%=l(:field_manufactured_on)%></th>
    <th><%= l(:field_holder) %></th>
    <th><%= l(:field_holder_change_histories_count) %></th>
    <th><%= l(:field_reviews_count) %>/<%=%></th>
</tr>
<tbody>
<%unless books.empty?%>
  <% for book in books -%>
    <tr class="<%= cycle("odd", "even") %>" align="center">
    <td><%= book.id %></td>
    <td><%= link_to book.title, 
      :controller => 'books',
      :action => 'show', 
      :id => book %></td>
    <td><%= book.author %></td>
    <td><%= book.publisher %></td>
    <td><%= book.published_on %></td>
    <td><%= book.holder ? link_to_user(book.holder) : '-' %></td>
    <td><%= book.holder_change_histories_count > 1 
      ? "#{book.holder_change_histories_count - 1} (" + link_to(l(:button_view),:controller => 'histories', 
        :action => 'show', 
        :id => book, 
        :type => 'book'
      ) + ')' 
      : 0 %></td>
    <td><%= book.reviews_count > 0 
      ? "#{book.reviews_count} (" + link_to(l(:button_view), 
        :controller => 'books', 
        :action => 'show', 
        :anchor => 'reviews', 
        :id => book
      ) + ')' 
      : 0 %></td>
    </tr>
  <% end -%>
<% end -%>

<% unless devices.empty? %>
  <% for device in devices -%>
    <tr class="<%= cycle("odd", "even") %>" align="center">
    <td><%= device.id %></td>
    <td><%= link_to device.name, 
      :controller => 'devices', 
      :action => 'show', 
      :id => device %></td>
    <td><%= device.vendor %></td>
    <td><%= device.model %></td>
    <td><%= device.manufactured_on %></td>
    <td><%= device.holder ? link_to_user(device.holder) : '-' %></td>
    <td><%= device.holder_change_histories_count > 1 
      ? "#{device.holder_change_histories_count - 1} (" + link_to(l(:button_view), 
        :controller => 'histories', 
        :action => 'show', 
        :id => device, 
        :type => 'device'
      ) + ')' 
      : 0 %></td>
    <td><%= device.reviews_count > 0 
      ? "#{device.reviews_count} (" + link_to(l(:button_view), 
        :controller => 'devices', 
        :action => 'show', 
        :anchor => 'reviews', 
        :id => device
      ) + ')' 
      : 0 %></td>
    </tr>
  <% end -%>
<% end %>
  </tbody>
</table>

<%}%>

<div class="statement-count">
<h3><%=l(:text_statement_count)%>: <%=@user_list.length%></h3>
<%= button_to(l(:text_statement_submit), 
  :controller=> 'statements', 
  :action => 'create'
  :list => @user_list
) %>
</div>

<% html_title(l(:label_booty_bay)) -%>

<% content_for :sidebar do %>
<%= render :partial => 'shared/sidebar' %>
<% end %>

<% content_for :header_tags do %>
<%= stylesheet_link_tag 'common', :plugin => 'redmine_ezlibrarian' %>
<% end %>
