<p>
	<%= label_tag 'settings[secret]', 'secret key' %>
	<%= password_field_tag('settings[secret]', @settings['secret'], :size => '80') %>
</p>
<p>
	<%= label_tag 'settings[key]', 'access key' %>
	<%= text_field_tag('settings[key]', @settings['key'], :size => '80') %>
</p>
<p>
	<%= label_tag 'settings[associate_tag]', 'associate_tag' %>
	<%= text_field_tag('settings[associate_tag]', @settings['associate_tag'], :size => '80') %>
</p>
<p>
	<%= label_tag 'settings[host]', 'host' %>
	<%= text_field_tag('settings[host]', @settings['host'], :size => '80') %>
</p>
<p>
	<%= label_tag 'settings[version]', 'version' %>
	<%= text_field_tag('settings[version]', @settings['version'], :size => '80') %>
</p>
<p>
	<%= label_tag 'settings[return_to]', 'return_to' %>
	<%= text_field_tag('settings[return_to]', @settings['return_to'], :size => '80') %>
</p>