<p><%= label_tag 'settings[secret]', 'secret' %><%= text_field_tag('settings[secret]', @settings['secret'])%></p>
<p><%= label_tag 'settings[key]', 'key' %><%= text_field_tag('settings[key]', @settings['key'])%></p>
<p><%= label_tag 'settings[associate_tag]', 'associate_tag' %><%= text_field_tag('settings[associate_tag]', @settings['associate_tag'])%></p>
<p><%= label_tag 'settings[host]', 'host' %><%= text_field_tag('settings[host]', @settings['host'])%></p>
<p><%= label_tag 'settings[version]', 'version' %><%= text_field_tag('settings[version]', @settings['version'])%></p>
<p><%= label_tag 'settings[return_to]', 'return_to' %><%= text_field_tag('settings[return_to]', @settings['return_to'])%></p>