<div class="contextual"><form>
<label for="search_devices"><%=l(:label_search)%>:</label>
<input type="text" id="search_devices" name="search"/>
<div id="autocomplete_choices" class="autocomplete"></div>
</form></div>
<h2><%=l(:label_device_new)%></h2>

<% labelled_tabular_form_for :device, @device, :html => {:id => 'device-form'} do |f| %>
    <%= error_messages_for 'device' %>
    <div class="box">
    <%= render :partial => 'treasures/device_form', :locals => {:f => f} %>
    </div>
    <%= submit_tag l(:button_create) %>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'treasures/sidebar' %>
<% end %>

<% html_title(l(:label_device_room)) -%>