<div class="contextual"><form>
<label for="search_books"><%=l(:label_search)%>:</label>
<input type="text" id="search_books" size="40" name="search" data-wiki-formatting="<%= Setting.text_formatting %>"/>
</form></div>
<h2><%=l(:label_book_new)%></h2>

<%= labelled_form_for :book, @book, :url => '/treasures/new_book', :html => {:id => 'book-form'} do |f| %>
    <%= error_messages_for 'book' %>
    <div class="box tabular">
    <%= render :partial => 'treasures/book_form', :locals => {:f => f} %>
    </div>
    <%= submit_tag l(:button_create) %>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'treasures/sidebar' %>
<% end %>

<% html_title(l(:label_library)) -%>

<% content_for :header_tags do %>
<%= stylesheet_link_tag 'search', :plugin => 'redmine_ezlibrarian' %>
<%= javascript_include_tag 'https://raw.github.com/devbridge/jQuery-Autocomplete/master/dist/jquery.autocomplete.min.js' %>
<%= javascript_include_tag 'book_converter', 'search', :plugin => 'redmine_ezlibrarian' %>
<% end %>
